* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Gagalin';
    font-style: italic;
    letter-spacing: 0.1em;
}

a {
    text-decoration: none;
    color: #fdf5d5;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}
