@media (max-width: 1350px) {
    .container {
        flex-wrap: wrap;
        padding: 35px;
    }
}

@media (max-width: 900px) {
    .cabecalho {
        display: block;
    }

    .cabecalho .conteudo-cabecalho .logo {
        padding: 35px 0 35px;
        display: block;
        text-align: center;
    }

    .cabecalho .conteudo-cabecalho .logo img {
        margin: 0 auto;
    }

    .cabecalho .conteudo-cabecalho h2 {
        font-size: 2rem;
    }
}

@media (max-width: 575px) {
    .texto-com-imagem h1 {
        font-size: 3.5rem;
    }

    .fotmulario label, input {
        display: block;
        margin: 0 auto;
    }

    .formulario h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 520px) {
    .logo-formulario {
        width: 110px;
    }
}



