@media (max-width: 1350px) {
    main {
        flex-wrap: wrap;
    }

    .rodape h2 {
        margin: 50px auto 20px;  
    }
}

@media (max-width: 900px) {
    main {
        padding: 0 30px;
    }

    .cabecalho {
        display: block;
    }

    .cabecalho .conteudo-cabecalho .logo {
        padding: 35px 0 35px;
        display: block;
        text-align: center;
    }

    .cabecalho .conteudo-cabecalho .logo img {
        margin: 0 auto;
    }

    .cabecalho .conteudo-cabecalho h2 {
        font-size: 2rem;
    }
}

@media (max-width: 505px) {
    .texto-com-imagem h1 {
        font-size: 3.5rem;
    }

    .fotmulario label, input {
        display: block;
        margin: 0 auto;
    }

    .formulario h2 {
        font-size: 2.5rem;
    }
}